# lab1-directories/dev/terraform.tfvars.example
#
# Copy to terraform.tfvars and edit.

account        = "userxx"                              # REPLACE
state_bucket_name = "userXX-terraform-state-SUFFIX"     # REPLACE: state_bucket_name output from lab1/state-infra
